:root {
  --main-font: "Roboto";
  --secondary-font: "Raleway";

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  color: var(--slate);
  font-family: var(--main-font), var(--secondary-font), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* default styles reset*/
a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy-blue);
}

.logo {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo > span {
  color: var(--navy-blue);
}

.nav-link {
  color: var(--navy-blue);
  font-weight: 500;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}

.order-btn {
  background-color: var(--iris);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.order-btn:hover,
.order-btn:focus{
  background-color: var(--ocean);
}

/* same styles for same level titles */
h3 {
  font-size: 20px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.member-info {
  text-align: center;
}

.app-card-text {
  border: 1px solid var(--cornflower);
}

.footer {
  background-color: var(--navy-blue);
}

.footer-logo > span {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
}
